.web-content {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.side-content {
  overflow: auto;
  width: calc(100% - 17rem);
  background-color: #0A0A0A;
  color: white;
}

aside {
  position: sticky;
  width: 17rem;
  height: 100vh;
  background-color: #0F0F0F;
  color: white;
}

.sidebar-image {
  width: 11rem;
  height: auto;
}

.sidebar-header {
  margin: 1rem;
}

.sidebar-header h1 {
  font-size: 1.5rem;
  margin: 0;
  padding-left: 1rem;
  padding-bottom: 0.3rem;
  font-weight: normal;
}

.uptime-services {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.uptime-service {
  margin: 0.4rem;
  background-color: #0A0A0A;
  border-radius: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.service-data {
  margin: 0.3rem;
  background-color: #0A0A0A;
  border-radius: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uptime-service p, h4 {
  margin: 0;
  padding: 0.1rem;
}

.service-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-url {
  font-size: 0.8rem;
  color: #A0A0A0;
}

.service-last-status {
  padding-right: 0.5rem;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.service-last-status-dot-y {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  background-color: #00FF00;
}

.service-last-status-dot-n {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  background-color: red;
}

.heart-animation {
  animation: heart ease-in-out 1s infinite;
}

@keyframes heart {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: gray;
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
