<div class="web-content">
  <aside>
    <div class="sidebar-upper">
      <div class="sidebar-header">
        <h1><a href="https://github.com/DasShorty/pinga" style="color: aqua; text-decoration: none"
               target="_blank">Pinga</a> by</h1>
        <img priority class="sidebar-image" ngSrc="/images/web-logo.svg" alt="DasShorty Website Logo" width="869"
             height="81">
        <hr>
      </div>

      <div class="uptime-services">
        @for (service of serviceService.data; track service.id) {
          <div class="uptime-service">
            <div class="service-data">
              <div class="service-icon" [style.background-color]="service.hexColor">
                <p>{{ service.shortName }}</p>
              </div>
              <div class="service-container">
                <h4>{{ service.serviceName }}</h4>
                <p class="service-url">{{ service.requestUri }}</p>
              </div>
            </div>
            <div class="service-last-status">
              @switch (getStatus(service.id)) {
                @case (ServiceStatusEnum.UP) {
                  <div class="service-last-status-dot-n">
                    <div class="service-last-status-dot-n heart-animation">
                    </div>
                  </div>
                }
                @case (ServiceStatusEnum.DOWN) {
                  <div class="service-last-status-dot-y">
                    <div class="service-last-status-dot-y heart-animation">
                    </div>
                  </div>
                }
                @default {
                  <div class="loading-spinner"></div>
                }
              }
            </div>
          </div>
        }
      </div>
    </div>

    <div class="sidebar-bottom">
      <button (click)="openAddService()">Neuen Service hinzufügen</button>
    </div>
  </aside>
  <add-service></add-service>
  <div class="side-content">
    <ng-content>

    </ng-content>
  </div>
</div>
